<div class="pull-right">
    <div class="pull-right margin-botao-novo">
        <button 
            type="button"                
            class="btn btn-warning btn-sm"
            (click)="novo()">
                <b>Novo +</b>
        </button>
    </div>
</div>

<h1>Caderno Cinza</h1>

<div class="row margin-left-panel">
    <div class="col-lg-12">
        <div class="table-responsive no-margin-bottom no-border" style="overflow: auto;">
            <table class="table">
                <thead style="background-color: #F5DA81;">
                    <tr>
                        <th class="text-left">Ações</th>
                        <th class="text-left">Data</th>
                        <th class="text-left">Discriminação</th>
                        <th class="text-left">Origem</th>
                        <th class="text-left">Conta</th>
                        <th class="text-left">Saldo</th>
                    </tr>
                </thead>
                <tbody style="background-color: lavender;">
                    <!-- <tr *ngFor="let item of objetoDoBanco"> -->
                    <tr>    
                        <th class="text-left">
                            <button class="btn btn-info">editar</button>
                            <button class="btn btn-danger margin-botao-acoes">excluir</button>
                        </th>
                        <td class="text-left">02/02/2006</td>					
                        <td class="text-left/">Discrimanado</td>
                        <td class="text-left">Canal Azul</td>
                        <td class="text-left">10,0000</td>
                        <td class="text-left">5,000</td>
                    </tr>
                    <tr>   
                        <th class="text-left">
                            <button class="btn btn-info">editar</button>
                            <button class="btn btn-danger margin-botao-acoes">excluir</button>
                        </th> 
                        <td class="text-left">02/02/2006</td>					
                        <td class="text-left/">Discrimanado2</td>
                        <td class="text-left">Canal Verde</td>
                        <td class="text-left">20,0000</td>
                        <td class="text-left">8,000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-manter-caderno-cinza #appModalCadernoCinza></app-manter-caderno-cinza>


