@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

body {
    background-color: #000000;
    margin: 0
}

.controle-label{
    color: #F5DA81;
}   