 <div class="row">
    <div class="col-md-10">

	<div class="modal-xl">	
		<div class="modal-content">
			<div class="modal-header" style="padding: 10px 15px;">
				<b>Practice Comments : {{ parametros.name ? parametros.name : '--' }}</b>
			</div>

                <div class="modal-body">
                
                    <div class="form-group">
                        
                        <div *ngIf="parametros.comments.length >= 0">
                            <div *ngFor="let item of parametros.comments">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="controle-label required">
                                            <i style="color: dodgerblue;" class="fa fa-user" aria-hidden="true"></i>
                                            {{item.username}}
                                        </label>
                                            <textarea 
                                                name="name"
                                                id="name"
                                                class="form-control"
                                                style="resize: none;"
                                                [value]="item.comment"
                                                disabled>
                                            </textarea>
                                    </div>
                                </div>
                                <br>
                            </div>
                        
                        </div>                      

                        <div class="row">
                            <div class="col-md-12">
                                <label class="controle-label required"><b>Your Comment:</b></label>
                                    <textarea 
                                        name="name"
                                        id="name"
                                        class="form-control"
                                        rows="2"
                                        style="resize: none;"
                                        [(ngModel)]="parametros.newcomments">
                                    </textarea>
                            </div>
                        </div>
                    </div>
                </div>

				<div class="modal-footer">
					<footer class="panel-footer clearfix" style="padding-top: 5px; padding-bottom: 5px;">
						<div class="pull-right">
                            <button 
                                type="button"                
                                class="btn btn-sm"
                                style="background-color: DodgerBlue; cursor: pointer; margin-left: 10px;">
                                    <i style="color: white;" class="fa fa-plus" aria-hidden="true"></i>
                                    <b style="color: white;"> Add Comment</b>
                            </button>
						</div>
                    </footer>
                    
				</div>
		</div>
	
    </div>	
    
    </div>
</div>

