<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive no-margin-bottom no-border" style="overflow: auto;">
            <table class="table">
                <thead class="table-head-color">
                    <tr>
                        <th class="text-left th-table-head">Members</th>
                        <th class="text-left th-table-head">Area of interest</th>
                        <th class="text-left th-table-head">Email</th>
                        <th class="text-left th-table-head">Organization</th>
                        <th class="text-left th-table-head">Info</th>
                    </tr>
                </thead>
                <tbody style="background-color: lavender;">
                    <tr>
                    
                    <tr 
                        *ngFor="let item of parametros | paginate: 
                                { 
                                id: 'members_grid',
                                itemsPerPage: sizePagination,
                                currentPage: page,
                                totalItems: parametros.length 
                                }" [attr.data-index]="i"> 

                        <td>                        
                            <img 
                                src="{{ item.user.userImage }}" 
                                alt="Avatar" 
                                style="margin-top: -10px;
                                vertical-align: middle;
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;"
                            >
                            <div style="margin-left: 63px; margin-top:-30px;">
                                <b>{{item.name}}</b>
                            </div>
                        </td>
                        <td>{{ item.areaActuationRole ? item.areaActuationRole : '--' }}</td>
                        <td>{{ item.email ? item.email : '--' }}</td>
                        <td>{{ item.organization ? item.organization : '--' }}</td>
                        <td>
                            <span>
                                <!-- routerLink="/sepractices4ml/practices/{{item.id}}/edit" IdUsuario -->
                                <a     
                                    (click)="routeNavigate(item)"                           
                                    class="btn btn-default btn-sm btn-default" 
                                    data-toggle="tooltip" 
                                    title="More Info" 
                                    data-original-title="More Info">
                                        <i *ngIf="item.idUsuario == idUsuarioLogado" class="fa fa-edit"></i>
                                        <i *ngIf="item.idUsuario != idUsuarioLogado" class="fa fa-eye"></i>
                                </a>
                            </span> 
                        </td>                   
                </tbody>
            </table>
                                 
            <span>
                Total Itens: <b>{{ parametros.length }}</b>
            </span>
            
            <pagination-controls 
                *ngIf="parametros.length > 5" 
                class="pull-right"
                id="practices_grid" 
                maxSize="5" 
                directionLinks="true"
                (pageChange)="page = $event">
            </pagination-controls>
           

        </div>
    </div>
</div>