<div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
            <a 
                class="navbar-brand" 
                href="#">
                Navbar
            </a>
            
            <button 
                class="navbar-toggler" 
                type="button"
                data-toggle="collapse" 
                data-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a 
                        class="nav-link" 
                        href="#">
                            Home 
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a 
                        class="nav-link" 
                        href="#">
                            Link
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a 
                        class="nav-link dropdown-toggle" 
                        href="#navbar-dropdown-itens" 
                        id="navbarDropdown" 
                        role="button" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false">
                            Dropdown
                    </a>
                    <div id="navbar-dropdown-itens" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">                    
                    <div style="!importante; width: 75px;">                      
                        <a 
                            (click)="logout()"
                            style="cursor: pointer">
                                <i class="fa fa-arrow-left"></i> Log Out
                        </a>
                    </div>         
              </form>
            </div>
          </nav>     
    </header>
    
    <div class="row margin-left-panel">
        <div class="col-lg-11">
            <section class="panel panel-default">        
                <div class="panel-body">        
                    <div>		
                        <!--##Caderno Cinza - Caixa##-->
                        <div *ngIf="isCadernoCinza">
                            <app-caderno-cinza></app-caderno-cinza>
                        </div>
                        <!--##Despesas Gerais##-->           
                        <div *ngIf="isDespesasGerais">
                            <app-despesas-gerais></app-despesas-gerais>									
                        </div> 
                         <!--##Compras##-->           
                         <div *ngIf="isCompras">
                            <app-compras></app-compras>									
                        </div> 
                         <!--##Faturamento##-->           
                         <div *ngIf="isFaturamento">
                            <app-faturamento></app-faturamento>									
                        </div>
                        <!--##Itau##-->           
                        <div *ngIf="isItau">
                            <app-itau></app-itau>									
                        </div>                        
                    </div>        
                </div>        
            </section>        
        </div>
    </div>  

</div>

