<div #appModalCadernoCinza class="modal fade in" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
	<div class="modal-dialog modal-lg">	
		<div class="modal-content">
			<div class="modal-header" style="padding: 10px 15px;">
				<h4 class="modal-title">Manter Caderno Cinza</h4>
			</div>

                <div class="modal-body">
                
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label class="label-modal required"><b>Data:</b></label>
                                <input 
                                    type="date" 
                                    name="data-registro"
                                    id="data-registro"
                                    class="form-control"
                                    [(ngModel)]="parametros.dataCadastro"
                                >
                            </div>
                            <div class="col-lg-5">
                                <label class="label-modal required"><b>Descriminação:</b></label>
                                <input 
                                    type="text"
                                    class="form-control"
                                    max="3000-12-31"
                                    autocomplete="off" 
                                    name="descriminacap"
                                    id="descriminacap"
                                    class="form-control"
                                    [(ngModel)]="parametros.descriminacao"
                                >
                            </div>                 
                        </div>
                    </div>
                </div>

				<div class="modal-footer">
					<footer class="panel-footer clearfix" style="padding-top: 5px; padding-bottom: 5px;">
						<div class="pull-right">
                            <button 
                                class="btn btn-sm btn-default" 
                                (click)="fechar()">
								 Fechar
                            </button>
                            <button 
								disableOnClick
								class="btn btn-info btn-sm"
								(click)="validar()">
							     Salvar
						    </button>
						</div>
                    </footer>
                    
				</div>
		</div>
	</div>	
</div>
<div #appModalCadernoCinzaBack class="modal-backdrop fade in" style="display: none;"></div>    
