<div>

    <div style="margin-bottom: 10px;">
        
    </div>

    <div class="tela-login">
        <b *ngIf="informacao" style="color: red;">{{ informacao }}</b>
        <img src="../../assets/img/Hl-Imagem.jpeg">
        
        <div class="left">

            <div class="row">
                <div class="col-md-12">
                    <label class="controle-label required"><b>Login:</b></label>
                    <input 
                        type="text" 
                        name="login"
                        id="login"
                        class="form-control"
                        [(ngModel)]="login"
                        (change)="verificaInput('Login')"
                        >
                </div>
            </div>
            <br>            
            <div class="row">
                <div class="col-md-12">
                    <label class="controle-label required"><b>Senha:</b></label>
                    <input 
                        type="password" 
                        name="login"
                        id="login"
                        class="form-control"
                        [(ngModel)]="senha"
                        (change)="verificaInput('Senha')"
                        >
                </div>                
            </div>

        </div>

        <br> 

        <div class="row">
            <div class="col-md-12">
                <div class="left">
                    <button 
                            id="btn-logar"
                            type="button"                
                            class="btn btn-warning btn-lg btn-block"
                            (click)="validar()"
                            data-toggle="tooltip" 
                            data-placement="top" 
                            title="Logar">
                                <i class="fa fa-check"></i><b>Logar</b>
                    </button>
                </div>
                <br>
                <div class="left">
                    <b style="color: orange;">Não tem usuário?</b> 
                    <b><a style="color: white; cursor: pointer; margin-left: 5px;">Cadastre-se</a></b>
                <div>
            </div>     
        </div>

    </div>    
    
</div>

