.tela-login{
    width: 500px;
	height: 600px;
	padding: 20px;
	position: absolute;
	top: 30%;
	left: 35%;
	margin: -70px 0 0 -170px;
}

.left{
    margin-left: 12px;
}

.imagem-login{
    width: auto;
    height: auto;
}